p{
    margin: 0;
}
.first-screen{
    position:relative;
    height: 100vh;
    background: #141429;
    display: flex;
    justify-content: space-between;
}

/*-----------Top bar------------*/

.first-screen-top-bar{
    align-items: center;
    position: fixed;
    display:flex;
    justify-content: space-between;
    margin: 35px 45px;
    width: 90%;
}
.first-screen-top-bar-logo{
    position: relative;
    width:198px;
    height:65px;
    background-image: url("../photo/Coca-Cola_logo_white 1.png") ;
    background-repeat: no-repeat;
}
.first-screen-top-bar-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:50%;
}
.first-screen-top-bar-menu{
}
.activated-menu{
    position: fixed;
    align-items: center;
    top:20%;
    right:20%;
    display:flex;
    flex-direction: column;
    z-index: 3;
    cursor: pointer;

    font-size: 54px;
    font-weight: 400;
    font-family: 'Risque';
    color:#ffff;

    animation:fadeIn 1s ease-in;
}.activated-menu a:hover{
    text-shadow:1px 1px white ;
 }
.activated-menu .top-bar-menu-links{
    margin-top: 15px;
}
@keyframes fadeIn {
    0%{opacity: 0}
    40%{opacity: 0}
    100%{opacity: 1}
}
.top-bar-menu-links{
    margin-left: 30%;
    color:white;
    cursor: pointer;
}
.first-screen-top-bar-burger{
    position: fixed;
    top:5%;
    right:5%;
    width: 50px;
    height: 50px;
    border-radius: 50px 10px 50px 50px;
    background-color: red;
    cursor:pointer;
    transition: 1s;
}
.first-screen-top-bar-burger-animation{
    position: fixed;
    top:5%;
    right:5%;
    width: 50px;
    height: 50px;
    border-radius: 50px 10px 50px 50px;
    background-color: red;
    cursor:pointer;
    transition: 1s;
}
 .activated-burger {
     position: fixed;
     right: -40%;
     top: -80%;
     width: 100%;
     height: 200%;
     border-radius:50%;
     transition:  1s ease-in-out;
     background-color: red;
     z-index: 2;
 }
.lines{
    position: fixed;
    top:6.5%;
    right:5.5%;
    width:2%;
    height: 2px;
    background-color: white;
    transition: 1s;
}
.first-screen-top-bar-burger-animation div:nth-child(2){
    margin: 10px 0px;
    height: 3px;
}
.first-screen-top-bar-burger-animation div:nth-child(3){
    margin: 20px 0px;
}
.activated-burger-lines{
    position: fixed;
    top:6.5%;
    right:5.5%;
    width:2%;
    height: 2px;
    background-color: white;
    transform: rotate(50deg);
    transition: 1s;
}
.activated-burger-lines:nth-child(2){
    transform: rotate(-50deg);
}
/*-----------Block------------*/

.first-screen-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}
.first-screen-block-title{
    font-size: 72px;
    font-weight: 400;
    font-family: 'Risque';
    color:#ffff
}
.first-screen-block-text{
    font-size: 38px;
    font-weight: 400;
    font-family: 'Risque';
    color:#ffff
}
.first-screen-block-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #ffff solid;
    border-radius: 50px 50px 50px 5px;
    color:#ffff;
    width: 30%;
    height:30px;
    margin-top: 5%;
}.first-screen-block-button:hover{
    color:inherit;
    background-color: #ffffff;
 }

/*-----------Poster------------*/

.first-screen-poster{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../photo/dedcoca 1.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.first-screen-poster-dedcola{

}
.first-screen-poster-cloud{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: white;
    border-radius: 50% 10% 50% 50%;
    width:200px;
    height:150px;
    margin:15% 15% 0 0;
    box-shadow: 0px 0px 10px 10px white;
}
.first-screen-poster-cloud-text{
    margin-left: 15%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Risque';
}