.third-screen{
    height: 100vh;
    background-image:url('../photo/background-img3.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left bottom;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*-----------Container------------*/

.third-screen-container{
    height:55%;
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:5%;
}
.third-screen-container-title{
    font-size: 56px;
    font-weight: 400;
    font-family: 'Risque';
    color:#ffff;
}
.third-screen-container-form{
    height:60%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.third-screen-container-form-input{
    width:45%;
    height: 20%;

    border: 3px #ffffff solid;
    border-radius: 20px;
    background-color: inherit;

    cursor: pointer;
}.third-screen-container-form-input::placeholder{
     color:#ffffff;
    font-size: 18px;
 }
 .dropbox{
     width:45%;
     height:20%;
     background-color: inherit;
     overflow: hidden;
 }.dropbox:hover{
    overflow: visible;
    position: absolute;
    height: 40%;
   }
 .dropbox-menu{
     width:80%;
     height: 30px;

     border: 3px #ffffff solid;
     border-radius: 20px;
     background-color: inherit;

     cursor: pointer;
 }
 .wish{
     width: 100%;
     height: 40%;
 }